.view-wrapper {
	margin-left:200px;
	padding:30px;
	position: relative;
	
	.hide {
		display:none;
	}
	.show {
		display:block;
	}
	.fix-header {
		width:calc(100% - 200px);
		height:64px;
		position:fixed;
		top:0;
		left:200px;
		z-index: 10;
		box-shadow: rgba(0, 0, 0, 0.098) 0px 2px 4px, rgba(0, 0, 0, 0.098) 0px 0px 3px;
		background-color:#0b2532;
		color:#fff;
		span {
			display:inline-block;
			text-align: center;
			width:50%;
			line-height: 64px;
			cursor:pointer;
		}
		.active {
			border-bottom:2px solid #BC5044;
		}
	}
	.main-content {
		margin-top:80px;
	}
	.card-box {
		border-radius: 5px;
		padding:15px 10px;
		background-color:#fff;
		margin-bottom:30px;
		position: relative;
		box-shadow: rgba(0, 0, 0, 0.098) 0px 2px 4px, rgba(0, 0, 0, 0.098) 0px 0px 3px;
		&.active {
			border:2px solid #000;
		}
		img {
			width:150px;
			float:left;
			margin-right:10px;
			
		}
		.card-info{
			
			h3 {
				font-size:18px;
				font-weight: bold;
				i {
					margin-left:10px;
				}
			}
			.card-skills {
				font-size:14px;
				line-height: 20px;
				margin-top:15px;
				span {
					display:block;
				}
				.skill-title {
					font-size:bold;
					font-size:16px;
					line-height: 24px;
				}
			}
			.card-id {
				position:absolute;
				top:0;
				right:0;
				color:#fff;
				border-radius:5px 5px 0px 0px;
				background: #0b2532;
				width: 25px;
  				height: 25px;
  				text-align: center;
  				line-height: 25px;
  				-webkit-filter: drop-shadow(0 1px 10px rgba(0,0,0,.5));
				-moz-filter: drop-shadow(0 1px 10px rgba(0,0,0,.5));
				-ms-filter: drop-shadow(0 1px 10px rgba(0,0,0,.5));
				-o-filter: drop-shadow(0 1px 10px rgba(0,0,0,.5));
				filter: drop-shadow(0 1px 10px rgba(0,0,0,.5));
				&::before{
				    content: '';
				    position: absolute;
				    top: 100%;
				    left: 0;
				    width: 0; 
				  	height: 0; 
				  	border-top: 10px solid #0b2532; 
				  	border-right: 20px solid transparent;
				 }
				&::after{
				    content: '';
				    position: absolute;
				    top: 100%;
				    right: 0;
				    width: 0; 
				  	height: 0; 
				  	border-top: 10px solid #0b2532; 
				  	border-left: 20px solid transparent;
				 }

			}
		}
	}
}

@media (max-width:800px) {
	.view-wrapper {
		width:100%;
		margin-left:0;
		padding:15px 0;
		.fix-header {
			width:100%;
			left:0;
		}
		.card-box {
			img {
				float:none;
				display:block;
				margin:0 auto 20px;
			}
		}
	}
	
}