body,html {
	height: 100%;
}

.sidebar-wrapper {
	width:200px;
	position:fixed;
	top:0;
	bottom:0;
	background-color:#0b2532;
	z-index: 10;
	.logo {
		margin:15px auto;
	}
	.sidebar-nav {
		li {
			width:100%;
			padding:30px;
			.nav-item {
				display:block;
				text-align: center;
				span {
					display:block;
					color:#fff;
				}
				&.active span {
					color:red;
				}
			}
		}
		
	}
}


@media (max-width:800px) {
	.sidebar-wrapper {
		display:block;
		width:40px;
		top:inherit;
		bottom:20px;
		right:15px;
		
		background-color:rgba(11,37,50,0.9);
		border-radius: 20px;
		-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.2), inset 0 4px 5px rgba(0,0,0,.6), inset 0 1px 0 rgba(0,0,0,.6);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.2), inset 0 4px 5px rgba(0,0,0,.6), inset 0 1px 0 rgba(0,0,0,.6);
	box-shadow: 0 1px 0 rgba(255,255,255,.2), inset 0 4px 5px rgba(0,0,0,.6), inset 0 1px 0 rgba(0,0,0,.6);

	
		.logo {
			display:none;
		}
		.sidebar-nav {
			li {
				padding:0;
				.nav-item {
					img {
						-webkit-filter: grayscale(1);
						width:30px;
						display: block;
						margin:10px auto;
						opacity:0.5;
					}
					&.active img {
						opacity: 1;
						-webkit-filter: none;
					}
					span {
						display:none;
					}
				}
			}
		}
	}

}
